            /* Generic */
* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Nunito', sans-serif;

}

        /*Formatt element*/

.conteiner {
    max-width: 1200px;
    margin: auto;
}

h1 {
    color: #E53170;
    font-size: 3rem;
}
h1, p {
    text-align: center;
    margin: 50px 0;
}
.row{
    margin:0 -15px;
}
.conteiner-card{
    width:calc(100% / 3);
}

.card { 
    height: 115px;
    background-color: black;
    margin: 20px 15px;
    box-shadow: 5px 5px 5px #dedede;
}

.card > img {
    height: 100%;
    margin-right: 15px;
    
}
.small-content {
    color: white;   
    padding-top: 10px
}

a {
    text-decoration: none;
    color: #3BC6F5;
}

h3, .type-work {
    margin: 5px;
   
}
        /*Clear fix and Float */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.float-left {
    float: left;
}