            /* Generic */
* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Dosis', sans-serif;
    font-family: 'Roboto', sans-serif;
}

        /*Formatt element*/

.conteiner {
    max-width: 1200px;
    margin: auto;
}

h1 {
    color: #E53170;
    font-size: 3rem;
    font-weight: bold;
}
h1, p {
    text-align: center;
    margin: 50px 0;
}
h4{
    font-weight: bold;
}

.card {
    width:calc(100% / 3 - 30px);
    height: 115px;
    background-color: black;
    margin: 20px 15px;
    box-shadow: 5px 5px 5px #dedede;
}

.card > img {
    width: 31%;
    
}
.small-content {
    color: white;
    width: 250px;
    padding: 10px 0 0 15px;
    
}

a {
    text-decoration: none;
    color: #3BC6F5;
}

h4, .type-work {
    margin: 10px 0;
}
        /*Clear fix and Float */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

